/* ========================================
   FONTS - Γραμματοσειρές
   ======================================== */

/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600;700&family=Noto+Sans:wght@400;500;700&family=Literata:wght@400;500;700&family=Source+Sans+3:wght@400;600;700&family=Lato:wght@400;700&family=Ubuntu:wght@400;500;700&family=Fira+Sans:wght@400;500;700&family=GFS+Didot&family=GFS+Neohellenic:wght@400;700&display=swap');

/* Font Classes */
.font-courier {
  font-family: 'Courier New', Courier, monospace;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-opensans {
  font-family: 'Open Sans', sans-serif;
}

.font-noto {
  font-family: 'Noto Sans', sans-serif;
}

.font-literata {
  font-family: 'Literata', serif;
}

.font-sourcesans {
  font-family: 'Source Sans 3', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.font-fira {
  font-family: 'Fira Sans', sans-serif;
}

.font-didot {
  font-family: 'GFS Didot', serif;
}

.font-neohellenic {
  font-family: 'GFS Neohellenic', sans-serif;
}

.font-arial {
  font-family: Arial, sans-serif;
}

.font-verdana {
  font-family: Verdana, sans-serif;
}

.font-tahoma {
  font-family: Tahoma, sans-serif;
}

.font-georgia {
  font-family: Georgia, serif;
}

.font-times {
  font-family: 'Times New Roman', Times, serif;
}
